<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ShivenPatel Resume/Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/resume.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Shiven Patel</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/img/profile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Projects</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Shiven
            <span class="text-primary">Patel</span>
          </h1>
          <div class="subheading mb-5">13 Berwick way · Piscataway, NJ 08854 · (848) 219 7609 ·
            <a href="mailto:name@email.com">shiven.patel08@gmail.com</a>
          </div>
          <p class="lead mb-5">Experienced Biochemist with a demonstrated history of working in the health care industry, specifically Laboratory Diagnostics. Experienced in procedures consistent with cLSI guidelines. Skilled in Data processing and analysis, skilled in Microsoft Office, Presentation Skills, Biotechnology.Recently gathered skills in programming and data analysis through Data science bootcamp.</p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/shiven-patel08" target="_blank" class="fab fa-linkedin-in"></a>
            <a href="https://github.com/shiven91" target="_blank" class="fab fa-github"></a>
          </div>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Biochemist</h3>
              <div class="subheading mb-3">Siemens Healthineers</div>
              <p>• Global Assay Development team.
                <br>• Expert in Automated, High Throughput Immunoassay Performance and Verification Study as Biochemist. 
                <br>• Adept in processing and analyzing data. Expert knowledge of MS Word, Power Point, Excel, MS Office Suite, MINITAB, Datajak, GDMS.
                <br>• Masterful in the laboratory running Centaur, CP, and Atellica IM instruments with serum and other biological fluids of human and animal origin.
                <br>• Perform system qualification studies such as System Monitoring Test, Reagent Carryover study, Sys-tem Verification Testing which includes intra precision studies of assays.
                <br>• Working in Lab environment, prepare samples for testing and follow procedures.
                <br>• Develops assays for the ADVIA Centaur XP and ADVIA Centaur CP automated immunoassay platforms
                <br>• Supported studies during pre-development of the Insuline-like Growth Factor 1 assay.
                <br>• Continuing to develop leadership and managerial skills.
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">October 2015 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Data Science Project</h3>
                <div class="subheading mb-3">Rutgers University</div>
                <p>As a part of a data science bootcamp, we have learned how to analyze data by using different methods such as python, d3, javascript and tableau.
                  <br> <a href="url">https://datascienceproject2.herokuapp.com</a>
                </p>
              </div>
              <div class="resume-date text-md-right">
                  <span class="text-primary">January 2018 - July 2018</span>
              </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Shift Leader</h3>
              <div class="subheading mb-3">CVS Pharmacy</div>
              <p>•Specific job duties include assisting in sales and answering questions about products, services, and merchandise. CVS sales associates may stock shelves and take inventory. 
                <br>•Specific job duties include sorting pills, creating labels, reviewing medication side effects, greeting customers, and ringing up purchases.
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">October 2010 - September 2011</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Phlebotomist and EKG Technician</h3>
              <div class="subheading mb-3">Exam One, LLC and Quest Diagnosticts</div>
              <p>•Timely and accurate collection of urine and blood samples.
                <br>•Maintained documents and used troubleshooting procedures.
                <br>•Performed data entry tasks to update information about patients.
                <br>•Readied patients for their urine or blood tests.
                <br>•Sanitized and made other preparations for blood collection.
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2009 - January 2011</span>
            </div>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Rutgers University</h3>
              <div class="subheading mb-3">Data Science Bootcamp</div>
              <div>Python, Tableau, JavaScript, MongoDB, SQL, VBA, HTML, CSS</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2018 - July 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Rutgers University</h3>
              <div class="subheading mb-3">Bachelor of Arts in Biology</div>
              <div></div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2012 - August 2015</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">New Jersey Institute of technology</h3>
                <div class="subheading mb-3">Bachelor of Arts in Biology</div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">September 2012 - August 2015</span>
              </div>
            </div>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="devicon-html5-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-css3-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-javascript-plain colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-github-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-bootstrap-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-d3js-plain colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-heroku-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-mongodb-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-mysql-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-python-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-slack-plain-wordmark colored"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Otherskills</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Tableau</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Electronic Lab Notebooks</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Leadership and Management</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Microsoft Office</li>
          </ul>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a biochemist and enjoy programming, I enjoy most of my time being outdoors. During the warmer months, I enjoy mountain biking, free climbing, and kayaking.</p>
          <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, and I spend a large amount of my free time exploring the latest technology advancements in the world.</p>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Projects</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Data science</li>
            <li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Html and CSS
              <a href="url">https://shiven91.github.io/html_css_homework/</a>
              
            </li>
            <li>
          </ul>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/resume.min.js"></script>

  </body>

</html>
